/* Titre et lien*/
.h2Memo{
    color: rgb(14, 14, 137);
    text-align: center;
    margin-top: 10px;
}

.linkMemo{
    display: inline;
    text-align: center;
}

.displayVictoryLoose{
    text-align: center;
    font-size: 3em;
}

/*Délimitation de la fenêtre de jeu et gestion des container*/
#windowGame{
    height: 650px;
}

#game{
    display: flex;
    align-items: center;
    height: 600px;
}

.rightSection{
    width: 100%;
}

/*Position des cartes*/
.rowMemo{
    display: flex;
}

/*Animation des cartes*/
.cardMemoContainer{
    position: relative;
    height: 190px;
    width: 190px;
    margin: 5px 5px;
}

.rotated{
    transform: rotateY(180deg);
}

.cardMemo {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease;
    transform-style: preserve-3d;
}

    /*Côté Recto*/
.cardMemoFront {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('./img/logo_mail-born2climb.jpg');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: center;
    border: solid 1px rgb(158, 158, 158);
    border-radius: 10%;
    backface-visibility: hidden;
}

    /*Côté Verso*/
.cardMemoBack {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border: solid 1px rgb(158, 158, 158);
    border-radius: 10%;
    transform: rotateY(-180deg);
}

.imgMemo{
    max-width: 100%;
    max-height: 100%;
    border-radius: 10%;
}